.schicht{
    background-color: red;
}
td{
    border: 1px solid;
}
td:nth-child(3){
    border-left-width: 2px;
    border-right-width: 2px;
}
tr:nth-child(2) td:nth-child(3){
    border-top: 2px solid;    
}
.vergleich{
    background-color: #a5d46a;
}
.vergleichZocken{
    background-color: #ffdf80;
}
.vergleichTreffen{
    background-color:#ffa080;
}
.block{
    display: inline-block;
    padding: 2px;
    margin-top: 5px;
}
tr:nth-child(26) td:nth-child(3){
    border-bottom: 2px solid;
}
.weekday{
    width: 80px;
}
td{
    text-align: right;
    background-color: aliceblue;
}
table {
    border-collapse: collapse;
    margin-top: 10px;
    table-layout:fixed;
}
th{
    padding-bottom: 10px;
    word-wrap:break-word;
}